@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.nav-link{
	margin-right: 15px;
	color:#02193b;
	letter-spacing: 0.5px;
	transition: 0.5s;
	 font-family: cursive;
	 
}
.navbar-brand{
	color: #011f3d;
	letter-spacing: 0.5px;
	background-color:#011f3d; 
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}